body {
    font-family: 'Roboto', sans-serif;
    margin: 20px;
    background-color: rgb(255, 255, 255);
}

h1, h2 {
    color: #333;
}

.subtitulo {
    text-align: center;
    
}

.n {
    
    /* background-color: #c15c5c69; */
    display: flex;
    align-items: center;
    justify-content: center;
}
form input, form button {
    margin: 5px;
    padding: 10px;
}

button {
    background-color: #ee3b13;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.btn-editar {
    display: inline-block;
    padding: 10px 20px;
    background-color:  #4CAF50; 
    color: #fff; 
    text-decoration: none;
    border-radius: 5px;
    font-size: 14px;
    text-align: center;
    cursor: pointer;
}

.btn-primary {
    
}

.btn-editar:hover {
    background-color: #00b32a; /* Cor no hover */
}

button:hover {
    background-color: #e45d15;
}
