body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

h1, h2 {
    color: #333;
}

nav{
    background-color: #333;
    overflow: hidden;
    margin-bottom: 20px;
}
form input, form button {
    margin: 5px;
    padding: 10px;
}

button {
    background-color: #ee3b13;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.btn-editar {
    display: inline-block;
    padding: 10px 20px;
    background-color:  #4CAF50; 
    color: #fff; 
    text-decoration: none;
    border-radius: 5px;
    font-size: 14px;
    text-align: center;
    cursor: pointer;
}

.btn-editar:hover {
    background-color: #00b32a; /* Cor no hover */
}

button:hover {
    background-color: #e45d15;
}
